<div class="table-wrap">
  <table class="table table--zebra">
    <thead>
      <tr>
        <th scope="col">Bed</th>
        <th scope="col">Room</th>
        <th scope="col">Ward</th>
        <th scope="col">Room type</th>
        <th scope="col">Care category</th>
        <th scope="col">Monitored</th>
        <th scope="col">Bed status</th>
        <th scope="col">Room status</th>
      </tr>
    </thead>
    <tbody>
    {% for bed in beds %}
      <tr>
        <td class="table__num">{{ bed.bed_number }}</td>
        <td class="table__num">{{ bed.room_number }}</td>
        <td>{{ bed.ward }} <span class="table__muted">· {{ bed.floor }}</span></td>
        <td>{{ bed.type_name }}</td>
        <td>{{ bed.care_category }}</td>
        <td class="table__muted">{{ 'Yes' if bed.requires_monitoring else 'No' }}</td>
        <td><span class="state state--{{ bed.bed_status }}">{{ bed.bed_status }}</span></td>
        <td><span class="state state--{{ bed.room_status | replace(' ','') }}">{{ bed.room_status }}</span></td>
      </tr>
    {% else %}
      <tr><td colspan="8">
        <div class="empty"><p class="empty__title">No beds match these filters</p></div>
      </td></tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<p class="count-note">{{ beds | length }} bed(s) shown</p>
